doctype html(lang='en')

html
  head
    if title
      title #{title} - fomtirth
    else
      title Welcome to fomtirth
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    style
      include /stylesheets/default.css
  body
    block content
      header
        h1 
          a(href='/') fomtirth
        form(method='POST' action='/search')
          input(type='text', placeholder='Search for articles, games, code and other stuff' name='search')
