doctype html(lang='en')

html
  head
    title #{pageTitle} - #{pageDescription} - fomtirth
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    style
      include /public/stylesheets/blog.css
  body
    block content
      header
        h1 fomtirth
        p #{pageDescription}
        nav
          a(href="/") Home
          a(href="/files") Files
          a(href="/games") Games

