include ./partials/header.pug

article
  //- main content
  if many
    //- many articles
    include ./partials/many.pug
  else
    //- single article
    include ./partials/single.pug

section
  //- short cuts

include ./partials/footer.pug
