html, body {
  margin: 0;
  color: #000000;
  background: #FFFFFF;
  font-family: sans-serif;
  font-size: 12pt;
  letter-spacing: 1pt;
}

h1, h2, h3 {
  background: #666666;
  color: #FFFFFF;
}

a {
  background: #666666;
  color: #FFFFFF;
  padding: 0.5%;
  text-decoration: none;
}

a:hover {
  background: #FFFFFF;
  color: #000000;
}

img {
  display: block;
  max-width: 50%;
  width: auto;
}

header {
  padding: 0.5% 5%;
}

section {
  padding: 0 5%;
}

footer {
  padding: 5%;
}

footer a {
  color: #666666;
  background: transparent;
}

footer a:hover {
  color: #FF0000;
}

#top {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
  font-size: 18px;
}
