doctype html(lang='en')

html
  head
    if title
      title #{title} - fomtirth
    else
      title Welcome to fomtirth
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel="apple-touch-icon", sizes="180x180", href="/images/favicon180x180.png")
    link(rel="icon", type="image/png", sizes="32x32", href="/images/favicon32x32.png")
    link(rel="icon", type="image/png", sizes="16x16", href="/images/favicon.png")
    meta(name="theme-color", content="#ffffff")
    style
      include /public/stylesheets/default.css
    script(src='/js/general.js')
  body
    block content
      header
        h1 
          a(href='/') fomtirth
